<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>ytviewers</title>
</head>
<body>
    <br><br>
    <div class="card border-success mb-3 d-flex" style="max-width: 21rem;margin: auto">
        <div class="card-body text-success">
            <h5 class="card-title" style="width: 100%;text-align: center;color: #303030">
                <img src="static/img/logo.png" width="50" height="50" />Ytviewers.apk
            </h5>
        </div>
        <button style="border-radius: 0;" class="btn btn-success" style="width: 100%;"><a style="width: 100%;height: 100%;display: block;text-decoration: none;color: #fff;font-weight: bolder" href="static/Yt Viewers_v1.0_zeet.apk">Download</a></button>
    </div>
    <br><br><hr>
    <p class="h4" style="text-align: center">Terima kasih telah mengunduh aplikasi ini🤗</p>
    
</body>
</html>