<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="aplikasi ini akan tersedia untuk hari ini unduh aplikasinya sekarang">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style type="text/css" media="all">
        .containerooo{
            background: #EDEDED;
            align-items: center;
            justify-content: center;
        }
       .containerooo button{
           width: 100%;
           height: 40px;
           border-radius: 0;
           box-shadow: none;
       }
      .containerooo button:hover{
          box-shadow: none;
      }
    </style>
    <title>ytviewers</title>
</head>
<body>
    <a href="/signup" style="text-decoration: none">
        <nav class="containerooo d-flex">
            <button st type="button" class="btn btn-outline-success">Unduh ytviewers <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-app-indicator" viewBox="0 0 16 16">
                    <path d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z" />
                    <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                </svg></button>
            <button type="button" class="btn btn-outline-danger">Daftar Dengan Google <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                    <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                </svg></button>
        </nav>
    </a>
    <br><br>
    <figure class="figure">
        <img src="../static/img/logo.png" class="figure-img img-fluid rounded">
    </figure>
    <br>
    <div class="container">
        <hr>
        <p style="text-align: center">
            Dengan menggunakan aplikasi ini Anda dapat meningkatkan waktu tonton video YouTube Anda 12x lebih cepat. Jika Anda memutar video selama 1 jam menggunakan aplikasi ini, waktu tonton Anda akan bertambah 12 jam. Untuk mengunduh aplikasi ini, Anda harus mendaftar menggunakan google. Halaman ini akan tersedia selama hari ini jam.
        </p>
    </div>
    
    
    
</body>
</html>